{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static "styles/styles.css" %}"/> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Cart</title> 
{% block content %}
<h1 align="center">Basket of {{ username }} </h1>
<body class = "bg-secondary bg-gradient text-white">



{% for product in productquery.products %}
    <div class="card mb-3 bg-light text-dark">
        <div class="card-body text-dark bg-light text-dark">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center text dark bg-light text-dark">
                    <div>
                        <img
                        src="/static/images/{{ product.image }}.jpg" alt= "{{ product.name }}" class="card-img-top" name="item-image"
                        class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        <div class="ms-3">
                            <h5>{{ product.name }}</h5>
                            <p class="small mb-0">{{product.productDesc}}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">{{ product.qnt }}</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">${{product.price}}</h5>
                        </div>
                        <form method="post" action="{% url 'remove1product' product.name %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning"><span class="text">-</span>
                        </form>
                        <form method="post" action="{% url 'add1product' product.name %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning"><span class="text">+</span>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}
<p>No products available.</p>
{% endfor %}


<form method="post" action="{% url 'payment' %}">
    {% csrf_token %}
    <h4 class="productno text-light">Total number of products: {{ user_basket_count }}</h4>
    <h4 class="price">$ {{ total_price }} Total</h4>
    <input type="hidden" name="productno" value="{{ equation }}">
    <input type="hidden" name="totalprice" value="{{ total_price }}">
    <button type="submit" class="btn btn-warning" role="button" required><span class="text">Pay NOW.</span>
</form>


<form method="post" action="{% url 'clearbasket' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning"><span class="text">Clear Basket</span>
</form>


<form method="post" action="{% url 'products' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning"><span class="text">Continue Shopping</span>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
{% endblock content %}
