{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static "styles/styles.css" %}"/> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<title>Contact</title> 
  <section id="contact"> 
    <center> 
      <font size="6"> 
            
<p>CONTACT INFO</p> 
  
      </font> 
        <div class="contact-item"> 
            <h1>Phone Number</h1> 
            <h2>+44-7749086500</h2> 
          </div> 
        </div> 
        <div class="contact-item"> 
            <h1>Email</h1> 
            <h2>defaultemail@gmail.com</h2> 
          </div> 
        </div> 
        <div class="contact-item"> 
            <h1>Address</h1> 
            <h2>Funkytown, London, United Kingdom</h2> 
          </div> 
        </div> 
      </div> 
    </div> 
    </center> 
  </section>
