{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static "styles/styles.css" %}"/> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<title>Contact</title> 
<body class = "bg-secondary bg-gradient text-dark">
  <section id="contact"> 
    <center> 
      <font size="6"> 
            
        <p>CONTACT INFO</p> 
      </font> 
    <div class="grid text-center" style="--bs-columns: 3;">    
        <div class="contact-item" style="width: 28rem;"> 
            <h1>Phone Number</h1> 
            <h2>+44-7749086500</h2> 
          </div> 
        </div> 
        <div class="contact-item" style="width: 28rem;"> 
            <h1>Email</h1> 
            <h2>defaultemail@gmail.com</h2> 
          </div> 
        </div> 
        <div class="contact-item" style="width: 28rem;"> 
            <h1>Address</h1> 
            <h2>12 Funkytown, London, United Kingdom</h2> 
          </div> 
        </div> 
      </div> 
    </div> 
    </center> 
  </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>