{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static "styles/styles.css" %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<title>Home</title> 
<section class="home"> 
        <h1>SecureCart: Security for individuals.</h1>

        <body>
            <p1>At SecureCart, we specialize in providing high-quality security products tailored to safeguard your home, business, and personal belongings. 
                From innovative smart home security systems to reliable personal safety devices, SecureCart offers a comprehensive selection of solutions designed to protect what matters most.</p1>



                <h2> Who are we?</h2>
            <p2>
                Formed in 2017 Super Wash was created during our founders time at university to help support their studies with passive incomes (and something to do on weekends!).
                Since then, the business has grown into a team of a few dedicated people who now look to continue the business for the forseeable future.
                Super Wash is a business formed on the idea of affordable cleanliness for all.
            </p2>


         <p3>
            <h2>Why Choose SecureCart?</h2>

At SecureCart, we’re committed to delivering products that combine functionality, innovation, and ease of use. 
Every item in our catalog is carefully selected to meet the highest security standards, giving you peace of mind and dependable protection. 
Explore our extensive range of security solutions today and experience the SecureCart difference.
         </p3>


        </body>
</section>
