{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" type="text/css" href="{% static "styles/styles.css" %}"/> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>2fa setup</title> 
<body class = "bg-secondary bg-gradient text-dark">
{% block content %}
<div class="container mt-5 mx-auto h-75 justify-content-center align-items-center" style="width: 32rem;">
    <div class="card shadow bg-light justify-content-center align-items-center">
        <div class="mb-3 row justify-content-center align-items-center">
            <h1 class="card-header bg-dark text-white" style="width: 32rem;" align="center">Setup Multi-Factor Authentication</h1>
            <img src="data:image/png;base64, {{ qr }}" style="width: 32rem;" alt="Secret Token"/>
            <div class="col-sm-5 bg-light">
                <div class="row w-100">
                    <li>Download <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&gl=US" target="_blank">Google Authenticator</a> on your mobile.</li>
                    <li>Add a new authenticator, and scan the QR code above.</li>
                    <li>Press Verify OTP button once complete.</li>
            <div class="col-sm-5 offset-sm-22 mb-22">
                <div class="row w-100">
                    <form method="post" action="{% url 'verify2fa' username %}">
                        {% csrf_token %}
                        <div class="mb-3 row justify-content-center align-items-center">
                            <input type="hidden" style="width: 32rem;" class="form-control ms-99" name="username" value="{{ username }}">
                            <div class="mb-3 row justify-content-center align-items-center">
                                <input type="text" style="width: 50rem;" class="form-control ms-99" name="otp" placeholder="OTP code" required>
                            </div>
                            <div class="mb-3 row justify-content-center align-items-center">
                                <button type="submit" style="width=22rem;" class="btn btn-primary" role="button" required><span class="text">Verify OTP</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
{% endblock content %}